.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding: 20px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.link_list{
    display: flex;
    gap: 1rem;
    font-size: 20px;
    font-weight: 300;

}

.link{
    display: inline;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.link:hover{
    background-color: #485e86;
    border-radius: 5px;
    transition: 0.3s ease;
}
.a{

    text-decoration: none;
    color: white;

}